
body{
    background:transparent;
}
.face{
    position:relative;
    width:100%;
    height:20px;
    background:#9e9e9e;
    top:200px;
    left:0px;
    padding-top:150px;
}
.eyes{
    position:absolute;
    width:100%;
    height:30%;
    background:#9e9e9e00;
    top:-25px;
    left:0px;

}
.eye{
    width:120px;
    height:120px;
    background:rgba(0,0,0,0);
    position:absolute;
    top:0px;
}
.a{
    position:absolute;
    left:100px;
}
.b{
    position:absolute;
    left:400px;
}
.eyebrow{
    
    position:absolute;
    width:150px;
    height:10px;
    background:black;
    box-shadow:0 10px 5px black;
    border-style:solid;
    border-width:5px 15px 5px 15px;
    border-radius:20%; 
    transition:transform 0.2s linear;
}
.left{
    left:-30px;
    top:5;
}
.right{
    left:0px;
    top:5;
}
.eyeball{
    position:relative;
    top:30px;
    left:20px;
    width:100px;
    height:100px;
    background:white;
    border-radius:100%;
}

.eyea{
    position:absolute;
    width:15px;
    height:15px;
    top:45%;
    left:45%;
    border-style:solid;
    background:black;
    border-radius:100%;
    animation:eyea 10s linear;
    animation-fill-mode:forwards;
}
.al{
    top:50%;
    
    animation-iteration-count: infinite;

}
.ar{
    top:50%;
    animation-iteration-count: infinite;
}
.eyelid{
    width:0;
    height:0;
    content:'';
    position:absolute;
    border-style:solid;
    border-width:60px 60px 60px 60px;
    border-color:#FFC107 #FFC107 transparent transparent;
    border-radius:100%;
    /*transition:top 0.3s linear;*/

    
}
.up{
    top:15px;
    left:10px;
    transform:rotate(-45deg);
    animation:eyelidUp 4s linear;
    animation-iteration-count:infinite;
}
.down{
    top:30px;
    left:10px;
    transform:rotate(135deg);
    animation:eyelidDown 4s linear;
    box-shadow:20px -20px 50px #7b7b7b;
    animation-iteration-count:infinite;
}







.eyes:active>.b>.right{
    animation:eyebrowRight 0.3s linear;
    animation-fill-mode:forwards;
    /*transform:rotate(20deg);*/
}
.eyes:active>.a>.left{
    animation:eyebrowLeft 0.3s linear;
    animation-fill-mode:forwards;
    /*transform:rotate(-20deg);*/
}
.eyes:active>.eye>.up{
    animation-play-state:paused;
    animation:closeUp 0.1s linear;
    animation-fill-mode:forwards;
}
.eyes:active>.eye>.down{
    animation-play-state:paused;
    animation:closeDown 0.1s linear;
    animation-fill-mode:forwards;
}
.eyes:active>.eye>.eyeball>.eyea{
    /*animation:eyeaBack 1s linear;*/
    animation-play-state:paused;
    animation:eyeaBack 3s linear;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}
/*.eyes:active+.nose{
    animation:noseMove 1s linear;
}*/




/*.eyeball:before{
    content:' ';
    position:absolute;
    left:50px;
    top:40px;
    width:15px;
    height:15px;
    border-style:solid;
    background:black;
    border-radius:100%;
}*/

.nose{
    position:absolute;
    width:0px;
    height:0px;
    top:-170px;
    left:220px;
    z-index:10;
    border-width:200px 100px;
    border-color:transparent transparent #FFC107 transparent;
    border-style:solid;
    border-radius:100%; 
}

.nose:active{
    animation:nose 1s linear;
    /*animation-direction:alternate;
    border-width:200 100;*/

}
.nose:active~.eyes>.eye>.right{
    animation:eyebrowLeft 0.1s linear;
    /*transform:rotate(-20deg);*/
    animation-fill-mode:forwards;
}
.nose:active~.eyes>.eye>.left{
    animation:eyebrowRight 0.1s linear;
    /*transform:rotate(20deg);*/
    animation-fill-mode:forwards;
}
.nose:active~.eyes>.eye>.up{
    animation:openUp 0.2s linear;
    animation-direction:alternate;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
}
.nose:active~.eyes>.eye>.down{
    animation:openDown 0.2s linear;
    animation-direction:alternate;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
}
.nose:active~.eyes>.eye>.eyeball>.eyea{
    /*animation-iteration-count:;*/
    animation-play-state:paused;

    
}
#cd{
    transition:width 2s cubic-bezier(0, 0.03, 0, 1),background 0.5s linear,height 1.5s cubic-bezier(0, 0.03, 0, 1);
    width:50px;
    height:20px;
    background:#9e9e9e5e;
}
#a{
    background:transparent;
    color:#dadbdb;
}
/*
#cd:hover{
    transition:width 0.5s cubic-bezier(0.57, 0.02, 0.46, 0.99),background 1s linear,height 0.5s cubic-bezier(0.57, 0.02, 0.46, 0.99);
    width:50px;
    width:300px;
    height:100%;
    background:#2196F3;
    #cd:after
}*/
@keyframes eyebrowRight{
    100%{
        transform:rotate(20deg);
    }
}
@keyframes eyebrowLeft{
    100%{
        transform:rotate(-20deg);
    }
}
@keyframes nose{
    30%{
        border-width:180px 100px;
    }
    60%{
        border-width:210px 100px;
    }
    100%{
        border-width:200px 100px;
    }
}
@keyframes eyea{
    10%{
        top:30%;
        left:60%;
    }
    15%{
        top:30%;
        left:60%;
    }
    20%{
        top:27%;
        left:40%;
    }
    30%{
        top:27%;
        left:40%;
    }
    40%{
        top:40%;
        left:10%;
    }55%{
        top:40%;
        left:10%;
    }
    60%{
        top:55%;
        left:15%
    }68%{
        top:55%;
        left:15%;
    }
    85%{
        top:45%;
        left:45%;
    }
    100%{
        top:45%;
        left:45%;
    }
}
@keyframes eyelidDown{
    50%{
        top:30px;
    }
    51%{
        top:24px;
    }
    52%{
        top:30px;
    }
    100%{
        top:30px;
    }
}
@keyframes eyeaBack{
    0%{
        top:43%;
        left:10%;
    }
    100%{
        top:43%;
        left:80%;
    }
}
@keyframes eyelidUp{
    50%{
        top:15px;
    }
    51%{
        top:24px;
    }
    52%{
        top:15px;
    }
    100%{
        top:15px;
    }
}
@keyframes openUp{
    100%{
        top:5px;
    }
}
@keyframes openDown{
    100%{
        top:35px;
    }
}
@keyframes closeUp{
    100%{
        top:20px;
    }
}
@keyframes closeDown{
    100%{
        top:23px;
    }
}
@keyframes openEyelid{
    49%{}
}
@keyframes noseMove{
    10%{
        border-width:200px 100px;
    }
    11%{
        border-width:180px 100px;
    }
    14%{
        border-width:210px 100px;
    }
    18%{
        border-width:200px 100px;
    }
}
