.work{
    #position:absolute;
    #top:180px;
    #left:30p;
    font-size:30;
}
.title2{
    #position:absolute;
    #left:100px;
    font-size:40;

}
a:link{
    color:black;
}
a:visited{
    color:black;
}
.mywork{
    font-size:20px;
}
.time{
   position:absolute;
   bottom:20px;
}