.title{
    position:absolute;
    padding-left:30px;
    animation:title 0.2s linear
}
#title1{
    position:relative;
    top:30px;
    left:15px;
    color:rgb(255,170,0);
    margin:0px;
    font-size:80px;
}
#title2{
    position:relative;
    left:180px;
    top:-30px;
    font-size:50px;
}
#title3{
    animation:sizeChage 3s linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    
    position:relative;
    top:-100px;
    left:260px;
    font-size:35px;
    color:#2271ff;
    transform: rotate(30deg);
    font-weight:600;

}
#works{
    animation:works 0.5s linear;
    position:relative;
    margin-top:300px;
    text-align:right;
    list-style-type:none;
    padding-right:30px;
}
.call{
    border-style:solid;
    border:10px 10px 10px 10px;
    border-color:#cecece;
    font-size:25px;
    position:absolute;
    top:320px;
    left:220px;
    background:#cecece;
    transition:top 0.5s;
}

.title:active~.call{
    position:absolute;
    top:450px;
    transition:top 0.5s ;
    
}
li{
    font-size:20px;
}
a{
    text-decoration:none;
}
a:link{
    font-size: 40px;
    color:black;
}
a:visited{
    color:black;
}

@keyframes works{
    0%{
        right:-500px;
    }
    100%{
        right:30px;
    }
}
@keyframes title{
    0%{
        top:-100px;
    }
    100%{
        top:0px;
    }
}
@keyframes sizeChage{
    0%{
        font-size:35px;
        transform: rotate(32deg);
        color:#2271ff;
    }
    50%{
        font-size:30px;
        transform: rotate(28deg);
        color:#2271ff80;
    }
    100%{
        font-size:35px;
        transform: rotate(32deg);
        color:#2271ff;
    }
}