.title{
    position:absolute;
}
#title1{  
    top:30px;
    left:15px;
    color:rgb(255,170,0);
    margin:0px;
    font-size:50;
}
#title2{
    top:80px;
    left:125px;
    font-size:20;
}
#worksList{
    position:absolute;
    top:200%;
    left:80%;
}